
<div class="card-container">

<div class="mdl-card mdl-shadow--2dp main-card" mdl-card mdl-shadow="2"  [routerLink]="['/music']">
  <div class="mdl-card__title music-card">
    <h2 class="mdl-card__title-text"> Музыка </h2>
  </div>
  <div class="mdl-card__supporting-text"> Шедеврально </div>
  <div class="mdl-card__actions mdl-card--border" mdl-card-border>
    <button class ="mdl-button"> Слушать </button>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp main-card" [routerLink]="['/photo']" mdl-card mdl-shadow="2">
  <div class="mdl-card__title photo-card">
    <h2 class="mdl-card__title-text"> Фотащки </h2>
  </div>
  <div class="mdl-card__supporting-text"> Смотри не ослепни </div>
  <div class="mdl-card__actions mdl-card--border" mdl-card-border>
    <button class ="mdl-button"> Смотреть </button>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp main-card" [routerLink]="['/game']" mdl-card mdl-shadow="2">
    <div class="mdl-card__title game-card">
      <h2 class="mdl-card__title-text"> Game </h2>
    </div>
    <div class="mdl-card__supporting-text"> Ты не поверишь - я написала это сама </div>
    <div class="mdl-card__actions mdl-card--border" mdl-card-border>
      <button class ="mdl-button"> Смотреть </button>
    </div>
</div>

<div class="mdl-card mdl-shadow--2dp main-card"  [routerLink]="['/game']" mdl-card mdl-shadow="2">
    <div class="mdl-card__title merch-card">
      <h2 class="mdl-card__title-text"> Мерч </h2>
    </div>
    <div class="mdl-card__supporting-text"> Смотри-покупай </div>
    <div class="mdl-card__actions mdl-card--border" mdl-card-border>
      <button class ="mdl-button"> Смотреть, покупать </button>
    </div>
</div>

</div>