<div class="mdl-layout mdl-layout--fixed-header">
  <div class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout__title">{{title}}</div>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
         <a class="mdl-navigation__link"> Гослинг wiki </a> <!-- [routerLink]="['/layout/l1']-->
         <a class="mdl-navigation__link">  </a>
         <a class="mdl-navigation__link"> Ссылки </a>
      </nav>
    </div>
  </div>
  <div class="mdl-layout-content">
        <router-outlet></router-outlet>
  </div>
</div>