<div class="contact-list mdl-list">
  <div *ngFor="let link of links">
    <div class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{link.name}}</span>
      <span class="mdl-list__item-text-body">
        {{link.description}}
      </span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href={{link.link}}><i class="material-icons">link</i></a>
    </span>
  </div>
  </div>
</div>