
<div class="card-container">

<div class="main-card" mdl-card mdl-shadow="2">
    <div class="mdl-card__title welcome-card">
      <h2 class="mdl-card__title-text">Welcome</h2>
    </div>
    <div class = "mdl-card__supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </div>
    <div class="mdl-card__actions" mdl-card-border>
      <button mdl-button mdl-colored mdl-ripple>Get Started</button>
    </div>
    <div class="mdl-card__menu">
      <button mdl-button  mdl-button-type="icon" mdl-ripple>
        <div class="mdl-icon">share</div>
      </button>
    </div>
  </div>

  <div class="main-card" mdl-card mdl-shadow="2">
      <div class="mdl-card__title welcome-card">
        <h2 class="mdl-card__title-text">Welcome</h2>
      </div>
      <div class = "mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
      <div class="mdl-card__actions" mdl-card-border>
        <button mdl-button mdl-colored mdl-ripple>Get Started</button>
      </div>
      <div class="mdl-card__menu">
        <button mdl-button  mdl-button-type="icon" mdl-ripple>
          <div class="mdl-icon">share</div>
        </button>
      </div>
    </div>

    <div class="main-card" mdl-card mdl-shadow="2">
        <div class="mdl-card__title welcome-card">
          <h2 class="mdl-card__title-text">Welcome</h2>
        </div>
        <div class = "mdl-card__supporting-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Mauris sagittis pellentesque lacus eleifend lacinia...
        </div>
        <div class="mdl-card__actions" mdl-card-border>
          <button mdl-button mdl-colored mdl-ripple>Get Started</button>
        </div>
        <div class="mdl-card__menu">
          <button mdl-button  mdl-button-type="icon" mdl-ripple>
            <div class="mdl-icon">share</div>
          </button>
        </div>
      </div>

      <div class="main-card" mdl-card mdl-shadow="2">
          <div class="mdl-card__title welcome-card">
            <h2 class="mdl-card__title-text">Welcome</h2>
          </div>
          <div class = "mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Mauris sagittis pellentesque lacus eleifend lacinia...
          </div>
          <div class="mdl-card__actions" mdl-card-border>
            <button mdl-button mdl-colored mdl-ripple>Get Started</button>
          </div>
          <div class="mdl-card__menu">
            <button mdl-button  mdl-button-type="icon" mdl-ripple>
              <div class="mdl-icon">share</div>
            </button>
          </div>
        </div>

        <div class="main-card" mdl-card mdl-shadow="2">
            <div class="mdl-card__title welcome-card">
              <h2 class="mdl-card__title-text">Welcome</h2>
            </div>
            <div class = "mdl-card__supporting-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Mauris sagittis pellentesque lacus eleifend lacinia...
            </div>
            <div class="mdl-card__actions" mdl-card-border>
              <button mdl-button mdl-colored mdl-ripple>Get Started</button>
            </div>
            <div class="mdl-card__menu">
              <button mdl-button  mdl-button-type="icon" mdl-ripple>
                <div class="mdl-icon">share</div>
              </button>
            </div>
          </div>

</div>