.card-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;

    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
}

.music-card {
    color: white;
    background: url(../../images/card_music.jpg) center/cover;
    background-image: url(../../images/card_music.jpg);
    height: 300px;   
}

.photo-card {
    color: white;
    background: url(../../images/card_photo.jpg) center/cover;
    background-image: url(../../images/card_photo.jpg);
    height: 400px;
}

.game-card {
    color: white;
    background: url(../../images/card_game.jpg) center/cover;
    background-image: url(../../images/card_game.jpg);
    height: 200px;
}

.merch-card {
    color: white;
    background: url(../../images/card_merch.jpg) center/cover;
    background-image: url(../../images/card_merch.jpg);
    height: 250px;
}